html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.sky,
.grass,
.road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: rgb(93, 93, 93);
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 0;
}


/* elements to animate*/

.mario {
    width: 90px;
    z-index: 1;
    position: absolute;
    top: -30px;
    animation: drive 3s both infinite linear, jump 0.3s 1.2s ease infinite;
}

.cloud {
    position: absolute;
}

.cloud:nth-child(1) {
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 20s linear infinite reverse;
}

.cloud:nth-child(2) {
    width: 300px;
    top: 0;
    animation: wind 50s linear infinite reverse;
}

.luigi {
    position: absolute;
    width: 90px;
    top: 60px;
    animation-name: drive;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*key frames*/

@keyframes drive {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(600px);
    }
}

@keyframes wind {
    from {
        left: -300px;
    }
    to {
        left: 100%;
    }
}

@keyframes jump {
    0% {
        top: -40%;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -40px;
    }
}